/* Hero start */
.hero {
  height: 100vh;
}

.hero .content h1 {
  max-width: 400px;
}

.hero .content .search {
  max-width: 350px;
}

.search,
.search input,
.search label {
  background-color: #efefef;
  border: none;
  border-radius: 11px !important;
}

.search input:focus {
  box-shadow: none !important;
  background-color: #efefef;
}

.hero .decoration img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 9px;
  position: absolute;
  right: 50px;
}
/* Hero End */

/* Suggestion Start */
.suggestion {
  margin-bottom: 75px;
}

.img-elipse {
  width: 13px;
  height: 13px;
  margin: 5px;
}

.title-section {
  border-left: 15px solid #efc81a;
  margin-left: 12px;
}

.suggestion .left .img-suggestion {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 9px;
  z-index: 999;
}

.right h1 {
  max-width: 250px;
  font-size: 20px !important;
}

.right p {
  max-width: 250px !important;
  font-size: 10px !important;
}

.right a {
  font-size: 10px !important;
}
/* Suggestion End */

/* New Start */
.new {
  margin-bottom: 75px !important;
}

.new .left .img-new {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 9px;
  z-index: 999;
}
/* New End */

/* Popular Start */
.popular {
  margin-bottom: 150px !important;
}

.popular .card {
  position: relative;
  border: none;
}

.popular .title {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 21px;
  max-width: 150px;
  color: #3f3a3a !important;
}

.popular img {
  object-fit: cover;
  border-radius: 12px;
  height: 250px;
}
/* Popular End */

@media (min-width: 768px) {
  /* Hero Start */
  .hero .content h1 {
    margin-left: 75px;
  }

  .hero .content .search {
    margin-left: 75px;
  }
  /* Hero End */

  /* Suggestion Start */
  .title-section {
    margin-left: 90px;
  }

  .left {
    justify-content: start !important;
    position: relative;
  }

  .left .ellipse {
    margin-top: 5px;
    width: 75px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .rectangle {
    margin-left: -200px !important;
    margin-top: 45px;
    width: 220px;
    height: 220px;
    border-radius: 7px;
    border: 2px solid #efc81a;
    margin-left: 20px;
  }

  .right h1 {
    max-width: 350px;
    font-size: 30px !important;
  }

  .right p {
    max-width: 350px !important;
    font-size: 15px !important;
  }

  .right a {
    font-size: 15px !important;
  }
  /* Suggestion End */

  /* New Start */
  .new .left .img-new {
    margin-top: 25px;
    margin-left: -75px;
  }

  .new .left .new-decoration {
    width: 250px;
    height: 250px;
    background-color: #efc81a;
    margin-left: -100px;
  }
  /* New End */

  /* Popular Start */
  .wrapper-popular {
    padding: 0 90px;
  }

  .popular img {
    height: 225px;
  }
  /* Popular End */
}

@media (min-width: 992px) {
  /* Hero start */
  .hero .decoration img {
    right: 100px;
    width: 200px;
    height: 200px;
  }
  .hero .content .search {
    max-width: 435px;
  }
  /* Hero End */

  /* Suggestion Start */
  .left .ellipse {
    width: 85px !important;
  }

  .suggestion .left .img-suggestion {
    width: 230px;
    height: 230px;
  }

  .rectangle {
    margin-left: -350px !important;
    height: 400px;
    width: 400px;
  }

  .right h1 {
    max-width: 470px;
    font-size: 40px !important;
  }

  .right p {
    max-width: 450px !important;
    font-size: 20px !important;
  }

  .right a {
    font-size: 20px !important;
  }
  /* Suggestion End */

  /* New Start */
  .new .left .img-new {
    width: 230px;
    height: 230px;
    margin-top: 55px;
    margin-left: -205px;
  }

  .new .left .new-decoration {
    width: 380px !important;
    height: 450px !important;
    margin-left: -100px;
  }
  /* New End */

  /* Popular Start */
  .popular img {
    height: 200px;
  }
  /* Popular End */
}

@media (min-width: 1200px) {
  /* Hero Start */
  .hero .decoration img {
    right: 135px;
    width: 200px;
    height: 200px;
  }
  /* Hero End */

  /* Suggestion Start */
  .rectangle {
    margin-left: -375px !important;
  }
  /* Suggestion End */

  /* Popular Start */
  .popular img {
    height: 250px;
  }
  /* Popular End */
}
