/* Hero Section Start */
.hero h1 {
  max-width: 400px;
  margin-top: 100px;
}

.search input {
  max-width: 350px;
  height: 60px;
  background-color: #efefef;
}

.search button {
  height: 60px;
  width: 150px;
}
/* Hero Section End */

/* Menu Recipes Start */
.status {
  max-width: 270px;
}

.status span {
  font-size: 10px;
}

/* Menu Recipes End */

@media (min-width: 768px) {
  /* Hero Section Start */
  .hero h1 {
    margin-top: 150px;
    margin-left: 75px;
  }

  .search input {
    margin-left: 75px;
    max-width: 430px;
  }

  .tag {
    max-width: 600px;
    margin-left: 75px;
  }
  /* Hero Section End */

  /* Menu Recipes Start */
  .card-menu {
    margin-left: 75px !important;
    max-width: 750px;
  }

  .card-title {
    max-width: 200px;
  }

  .card-text {
    max-width: 200px;
    font-size: 17px;
  }
  .status span {
    font-size: 13px;
  }
}
